<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Please select a year</title>
</head>
<body>
    <h1>
        Please select a year
    </h1>
    <p>
        <a href="/cite_year/2011">2011 </a>
    </p>
    <p>
        <a href="/cite_year/2012">2012 </a>
    </p>
    <p>
        <a href="/cite_year/2013">2013 </a>
    </p>
    <p>
        <a href="/cite_year/2014">2014 </a>
    </p>
    <p>
        <a href="/cite_year/2015">2015 </a>
    </p>
    <p>
        <a href="/cite_year/2016">2016 </a>
    </p>
    <p>
        <a href="/cite_year/2017">2017 </a>
    </p>
    <p>
        <a href="/cite_year/2018">2018 </a>
    </p>
    <p>
        <a href="/cite_year/2019">2019 </a>
    </p>
    <p>
        <a href="/cite_year/2020">2020 </a>
    </p>

</body>
</html>