<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>GPU recommendation form</title>
</head>

<body>
  <form action="/handle_form" method="POST">
    <p>
        What's your name? <input name="name" type="text"/><br/><br/><br/>
    </p>
    
    <p>
        What's your favorite brand?<br>
        <select name="brands">
            <option value="AMD Radeon">AMD Radeon</option>
            <option value="Nvidia">Nvidia</option>
        </select>
    </p>
    <p>
        What's the usage of the GPU<br>
        <input type="radio" name="usage" value="Desktop">Desktop<br/>
        <input type="radio" name="usage" value="Datacenter">Datacenter<br/>
    </p>
    
    <input type="submit" value="Submit Form"/>
  </form>  
</body>

</html>