<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GPU vs Machine Learning</title>
</head>
<body>
    
    <h1>
        Machine Learning trend and GPU performance analysis : 2011 - 2020
    </h1>
    <p>
        *Data reterived from <a href="https://developer.ieee.org/docs/read/Searching_the_IEEE_Xplore_Metadata_API">IEEE API</a> and 
        <a href="https://www.kaggle.com/pascalhouba/amd-radeon-and-nvidia-gpu-specifications">Kaggle</a>
    </p>
    <font size=5>
        <a href='/article_records'>Show Machine Learning research records</a>
        <br>
    </font>
    <font size=5>
        <a href='/GPU'>Show GPU average performance </a>
        <br>
    </font>
    <font size=5>
        <a href='/VS'>Show comparison</a>
        <br>
    </font>
    <font size=5>
        <a href='/cite_year'>Top cited article</a>
        <br>
    </font>
    <font size=5>
        <a href='/GPU_recommend'>GPU recommandation</a>
        <br>
    </font>
</body>
</html>
